html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

svg {
    background-color: grey;
    height: 100%;
    width: 100%;
}

.link {
    fill: none;
    stroke: white;
}

text {
    font-size: 10px;
    fill: #324127;
}

.jump {
    stroke: yellow;
    stroke-width: 1;
    fill: none;
}
